<h1>Sign Up</h1>

<%= form_for(@player, url:'/signup') do |f| %>

<%= f.label :team_id, "Team" %>
<%= f.collection_select :team_id, Team.all, :id, :name %>
<br>
<%# <p> Or Create a New Team: </p> %>
<%# <%= f.fields_for :team_attributes do |team_fields| %>
<%# <%= team_fields.label :name %> 
<%# <%= team_fields.text_field :name %>
<%# <% end %>
<br>
<br>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.submit "Submit" %>

<% end %>