<h1>Hello, <%= @player.username.capitalize %>!</h1>
<br>
<h2>Welcome to <%= @player.team.name %></h2>

Current Players On Team
<ul>
<% @player.team.players.each do |player|%>
<li> <%= player.username.capitalize %> </li>
<% end %>
</ul>
Upcoming Games
<br>
<% @player.team.games.each do |game| %>
<br>
<li> Location: <%= link_to game.location, game_path(game.id) %>  </li> 
    Time: <%= game.time.strftime("%I:%M %p on %m/%d/%Y") %>
<br>
<%end%>
<br><br>

    
