<h1>Hello, <%= @player.username.capitalize %>!</h1>
<br>
<h2>Welcome to <%= @player.team.name %></h2>

Current Players On team
<ul>
<% @player.team.players.each do |player|%>
<li> <%= player.username %> </li>
<% end %>
</ul>
Upcoming Games
<% @player.team.games.each do |game| %>
<br>
<li> Location: <%= game.location %>  </li> 
    Time: <%= game.time %>
<br>
    <%end%>
