<!DOCTYPE html>
<html>
  <head>
    <title>IntraClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div>
<% link_to "All Teams", teams_path %>
<% link_to "Sign Out", logout_path %>
</div>
  <body>
    <%= yield %>
  </body>
</html>
