<!DOCTYPE html>
<html>
  <head>
    <title>IntraClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div>
<% if logged_in? %>
<%= link_to "Sign Out", logout_path, method:"delete" %> |
<%= link_to "All Teams", teams_path %> |
<%= link_to "All Games", games_path %> |
<%= link_to "Team Page", team_player_path(current_player.team_id,current_player.id) %>
<% else %>
<%=link_to "Sign Up", signup_path %> |
 <%=link_to "Log In", login_path %>
<%end%>
</div>
  <body>
    <%= yield %>
  </body>
</html>
