<!DOCTYPE html>
<html>
  <head>
    <title>IntraClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div>
<% if logged_in? %>
<%= link_to "Sign Out", logout_path, method:"delete" %>
<%= link_to "All Teams", teams_path %>
<%= link_to "All Games", team_games_path(:team_id) %>
<%= link_to "Team Page", team_player_path(:id, :team_id) %>
<%end%>
</div>
  <body>
    <%= yield %>
  </body>
</html>
